.Padding{
    padding: 65px 65px;
    padding-bottom: 2px;
}
.invert{
    filter: invert();
}

/* Fonts-------------------------- */
.Inter{
    font-family: "Inter", serif;
    font-style: normal;
}
.Nunito{
    font-family: "Nunito", sans-serif;
    font-style: normal;
}
.Poppins{
    font-family: "Poppins", serif;
    font-style: normal;

}



#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 7px 48px;
    position: relative;
    z-index: 0;
    height: 60px;
    box-shadow: 0px 33px 23px 1px #0000003d;
}
.siteLogo img{
    width: 150px;
    height: 25px;
}
.pagetabsUl{
    display: flex;
    color: white;
    gap: 40px;
    list-style: none;
    align-items: center;
    padding-left: 0;
}
.pagetabsUl li:hover{
    border-bottom: 2px solid #78528B;
}

.signInOut-btn{
    background: none;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 18px;
    width: 90px;
    font-weight: bold;
}
.signIn-btn:hover{
    border: 2px solid #400A9C;
    border-radius: 10px;
}
.signOut-btn:hover{
    border: 3px solid #400A9C;
    background-color: #7C3AED;
    border-radius: 10px;
}


/* Home1--------------------- */
#sec1-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 58px;
    background-color: #DEE3FF;
    border-radius: 0px 0px 350px;
    box-shadow: 0px 20px 30px #9AA9FF;
    padding-bottom: 25px;
    overflow: hidden;
}
.home1{
    /* width: 700px; */
    font-weight: 100;

}
.home1-head{
    width: 710px;
    font-size: 60px;
    margin-bottom: 0;
    color: #121829;
    font-weight: bold;

}
.home1-span{
    color: #7C3AED;
}
.home1-btn{
    background-color: #7C3AED;
    border: 3px solid #400A9C;
    border-radius: 10px;
    color: white;
    width: 154px;
    height: 42px;
    font-weight: bold;
}
.home1-icon{

}
.home1-icon img{
    width: 633px;
    height: 432px;
    overflow: hidden;
}
.home1-h5{
    width: 618px;
    font-size: 18px;
    margin-top: 3px;
    color: #706565;
    font-weight: 300;
}

/* home2----------------- */
.home2-Mhead{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.home2-h1{
    color: #333333;
    font-size: 40px;

}
.lineIcon{
    display: inline-block;
    width: 102px;
    border: 8px solid #7c3aedbd;
    position: relative;
    left: -126px;
    top: 8px;
    z-index: -1;

}
.home2-btn{
    background: none;
    border: 1.5px solid #6318E3;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 18px;
    color: #6318E3;
    font-weight: bold;

}
.home2-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.home2-card{
    background-color: #DEE3FF;
    width: 380px;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
}
.home2-card img{
    margin: auto;
}




/* home-3  ***************************** */
.home3-Subsec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


}
.home3-options{
    background-color: #DEE3FF;
    border-radius: 500px;
    width: 365px;
    height: 365px;
    align-content: center;
    text-align: center;
}
.home3-options img{
    margin: auto;
}
.home3-options h1{
    font-size: 25px;
    font-weight: 600 ;
}
.reviewCardSlide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviewCard{
    background-color: #DEE3FF;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin: 32px;
    padding: 38px;
    align-content: center;
}
.LFMove{
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 4px;
}
.home4-H2{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}
.UserImg{
    display: block;
    margin: auto;    
}
.ReviewRate{
    display: flex;
    align-items: center;
    gap: 1px;
    justify-content: center;
}
.ReviewStar{
    
}
.Review-note{
    text-align: center;
    font-size: 18px;
    margin-top: 47px;
}
.platforms{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.platforms img{
    width: 150px;
}
.platforms .hotstarIcon{
    height: 80px;

}
.platforms .primeIcon{
    height: 90px;
}



/* --Footer************************ */

.MainFooter{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 52px;

}
.container-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LogoFoot{    
    width: 200px;
}
.CopyrightDiv{

}
.SocialIconall img{
    padding: 15px;
}
.FootMultiOption{
    width: 200px;
    text-align: right;
}






/* ******* Register form ************* */
.container{
    display: flex;
    height: 100vh;
}
  
.left-section {
flex: 1;
}

.movie-posters {
height: 100%;
width: 100%;
object-fit: cover;
}

.right-section {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
background-color: #f0f0ff;
}

.sign-up-form {
width: 350px;
padding: 20px;
background-color: #ffffff;
border-radius: 10px;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.sign-up-form h2 {
font-size: 24px;
margin-bottom: 10px;
}

.sign-up-form p {
font-size: 14px;
margin-bottom: 20px;
}

.input-container {
display: flex;
gap: 10px;
}

.input-container input,
input[type="email"],
input[type="password"] {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border-radius: 5px;
border: 1px solid #ccc;
}

.create-account-button {
width: 100%;
background-color: #6c4ed8;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
margin-bottom: 15px;
}

.divider {
text-align: center;
margin: 10px 0;
font-size: 14px;
}

.social-signup {
display: flex;
justify-content: space-between;
}

.social-button {
width: 48%;
padding: 10px;
border: none;
cursor: pointer;
}

.facebook {
background-color: #3b5998;
color: #fff;
}

.google {
background-color: #db4437;
color: #fff;
}

.terms {
font-size: 12px;
text-align: center;
}

.login-link {
font-size: 14px;
text-align: center;
margin-top: 10px;
}

.sign-in-button {
padding: 15px 30px;
background-color: #6c4ed8;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 18px;
}
  